@import '@floorplan/scss/floorplan.scss';

html,body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  touch-action: pan-x pan-y;
}

.console-log{
  position: absolute;
  top: 100px;
  left: 10px;
  pointer-events: none;
}